{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/c6c3a50631.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Open+Sans+Condensed:ital,wght@1,300&family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Savvy</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container-fluid">
        <div>
            {% for post in posts %}
                <h2>Businesses in {{ post.user.location }}</h2>
            {% endfor %}
        </div>
        {{my_map|safe}}
        <div class="header">
            {% for post in posts %}
                <h2>Posts for {{ post.user.location }}</h2>
            {% endfor %}
        </div>
        <div class="row">
            {% for post in posts %}
            <div class="col-md-3 col-sm-6">
                <div class="card" style="width: 90%;">
                    <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
                    <div class="card-body">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.description }}</p>
                    <p class="name">{{ post.user.username }}</p>
                    <p class="date">{{post.created_at|date:"l d-F Y"}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <br>
    <br>
</body>
</html>